.wrapper{
  max-width: 600px;
  width:90vx;
  outline:2px solid red;
}

.slider-container {
  display:flex;
  gap:20px;
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory; /* Snap along the x-axis */
  margin:auto;

  
}

.slide {
  min-width: 400px;
  scroll-snap-align:start; /* Snap to the center of the viewport */
  height: 20vh; /* Full viewport height for demonstration */
}

.slide:nth-of-type(1){ background-color: aqua;}
.slide:nth-of-type(2){ background-color: beige}
.slide:nth-of-type(3){ background-color:chartreuse;}
.slide:nth-of-type(4){ background-color:bisque;}
.slide:nth-of-type(5){ background-color:brown}