.slider-container {
  display: grid;
  grid-template-columns: min-content; 
   overflow-x: auto; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory; /* Snap along the x-axis */
}

.slide {
  width: 500px;
  scroll-snap-align: center; /* Snap to the center of the viewport */
  height: 20vh; /* Full viewport height for demonstration */
}

.slide:nth-of-type(1){ background-color: aqua;}
.slide:nth-of-type(2){ background-color: beige}
.slide:nth-of-type(3){ background-color:chartreuse;}
